:root {
    --light-blue: #F0F4FF;
    --blue: #0938B1;
    --white: #fff;
    --black: #000;
    --font-dark: 700;
    --font-norm: 400;
    --l-black: #2C2C2C;
    --inter: 'Inter', sans-serif;
    --fs: 1.2rem;
}
/* border box model: url: https://css-tricks.com/box-sizing */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--inter);
    background-color: var(--white);
}
/* navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    font-family: var(--inter);
    padding: 20px 60px;
    background-color: var(--light-blue);
    /* margin-bottom: 50px; */
}
.menu{
    display: none;
}
a{
    text-decoration: none;
    color: black;
}
li{
list-style: none;
}
.sidenav{
    display: none;
}
.desktopview ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.right{
    margin-right: 40px;
}
.right a{
    color: var(--blue);
}
.fg{
    margin-right: 10px;
}
.right button{
    border: none;
    padding: 10px;
    background-color: var(--blue);
    color: white;
}
.mobileimgcontainer{
    width: 300px;
    height: 300px;
    margin: 95px auto;
    display: none;
   }

   .mobileimgcontainer img{
    width: 100%;
    height: 100%;
}


.container {
    display: flex;
    align-items: center;
}


.imgcontainer {
    width: 600px;
    height: 500px;
    
}
.imgcontainer img{
    width: 100%;
    height: 100%;
}
.container-text {
      padding: 30px;
    font-family: var(--inter);
    width: 580px;
    margin: 150px 20px 0px 70px;
}
.container h2 {
    font-weight: var(--font-dark);
    /* justify-content: left; */
    left: 10px;
    line-height: 46px;
    /* border: 1px solid red; */
    font-size: 40px;
}
.container .text-p {
    font-weight: var(--font-norm);
    font-size: 18px;
    line-height: 30px;
}


.joincontainer{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.chat {
    display: flex;
    align-items: center;
    border: 2px solid #F2BD00;
   padding: 20px;
   border-radius: 15px; 
}

.contentimg{
    margin-right: 15px;
}

.chat p {
    /* font-size: 14px;
    padding: 0 10px;
    font-weight: var(--font-norm); */
}



/* ===========media query================== */
@media(max-width:1100px) {
    
    /* .menu{
        display: unset;
        color: white;
    }
    .right{
        display: none;
    } */

   .mobileimgcontainer{
       display: block;
   }
   .container-img{
       display: none;
   }
   .container-text {
    padding: 30px;
    font-family: var(--inter);
    width: 580px;
    margin: -104px auto;
}
  .chat{
      display: none;
  }
  .joincontainer{
      margin-top: 20px;
      display: block;
  }

  .sig{
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
  }
  .reg{
      text-align: center;
      cursor: pointer;
  }


}

/* ================== */

.reg{
    background-color: var(--blue);
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
   
    text-transform: capitalize;
    font-weight: bold;
}
.reg a{
     color: var(--white);
}
.sig{
    text-transform: capitalize;
    font-weight: bold;
    margin-right: 10px;
    background-color: var(--white);
    border: 1px solid var(--blue);
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    
}

